PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2021-08-28 14:00:12.973540');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2021-08-28 14:00:13.273521');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2021-08-28 14:00:13.573518');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0));
INSERT INTO django_admin_log VALUES(1,'2021-08-28 14:42:30.945723','2','john','',4,1,3);
INSERT INTO django_admin_log VALUES(2,'2021-08-29 20:08:10.257498','15','john','',9,1,3);
INSERT INTO django_admin_log VALUES(3,'2021-08-29 20:08:10.518194','14','john','',9,1,3);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$260000$cVZeLUDMyKnQYQ8RjpNTm5$TaBpbfJWsenviY2Wocuibd1pav0LZrg2WfR1hV94VnM=','2021-08-29 18:43:09.594118',1,'admin','','admin@socialbook.com',1,1,'2021-08-28 14:01:39.015484','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$260000$6BPPvlR8nnZ5crCZ7Ju9Gv$uldtuJddg/klUDh820669myC5kwnF9mhwj4IQwMjl+U=','2021-08-29 21:53:21.432156',0,'john','','john@g.com',0,1,'2021-08-28 14:43:23.444520','');
INSERT INTO auth_user VALUES(4,'pbkdf2_sha256$260000$UYkOaptLdt7bjekYTRTIS2$Ut4y9TlMYX1PRp2CTRM2pKtxpDnVf+zCoddvnaH9WGk=','2021-08-30 01:13:22.638820',0,'tom','','tom@g.co',0,1,'2021-08-29 20:59:13.788329','');
CREATE TABLE IF NOT EXISTS "core_profile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "id_user" integer NOT NULL, "bio" text NOT NULL, "profileimg" varchar(100) NOT NULL, "location" varchar(100) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_profile VALUES(1,3,'I am john, and i am the coolest kid','profile_images/i.jpg','Toronto',3);
INSERT INTO core_profile VALUES(2,4,'I am tom, and high school student','profile_images/i.jpg','New York',4);
INSERT INTO core_profile VALUES(3,5,'I am tammy from the UK','blank-profile-picture.png','London',5);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('mboiq1u3697jk14vue01kby2qmfsylio','.eJxVjDsOwjAQBe_iGll2_Kek5wzW7nqNAyiW8qkQd4dIKaB9M_NeIsO2trwtPOexiLPQ4vS7IdCDpx2UO0y3LqlP6zyi3BV50EVee-Hn5XD_Dhos7VuTJmWjV5Vq9ZAMFlTJQwSqIVkkGqolMgMaHR05HZiDCYUrEyiHSbw_DCI5IQ:1mJyvB:yIv8TPP7fHCeE9ZIu1wmtUu59cGiU_ZI54wWwCfrVeE','2021-09-11 14:02:57.960762');
INSERT INTO django_session VALUES('xsauyxg1uyk5epuwbmvb3dvwcg0xos12','.eJxVjDsOwjAQBe_iGll2_Kek5wzW7nqNAyiW8qkQd4dIKaB9M_NeIsO2trwtPOexiLPQ4vS7IdCDpx2UO0y3LqlP6zyi3BV50EVee-Hn5XD_Dhos7VuTJmWjV5Vq9ZAMFlTJQwSqIVkkGqolMgMaHR05HZiDCYUrEyiHSbw_DCI5IQ:1mKPlt:_y0IeYXeFURgwEbHBiQrMYhZUxiH9DZ3FbfnI4U5ekA','2021-09-12 18:43:09.725125');
INSERT INTO django_session VALUES('12e8h9j4bpjxy35zw1rpgc6mi3d3qe0a','.eJxVjMEOwiAQBf-FsyELLCAevfcbCLAgVQNJaU_Gf9cmPej1zcx7MR-2tfpt5MXPxC4M2el3iyE9ctsB3UO7dZ56W5c58l3hBx186pSf18P9O6hh1G9tCVRBtEHqhAgRXcnaaEAljSykSrRGEFjIycizcyLaVMApSjpYESV7fwDG9jdB:1mKSkQ:My79s3oH2BsuLCpVxtr3bNWWhA1ZZbMfWa2Vt7Bm0nY','2021-09-12 21:53:50.647879');
CREATE TABLE IF NOT EXISTS "core_likepost" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "post_id" varchar(500) NOT NULL, "username" varchar(100) NOT NULL);
CREATE TABLE IF NOT EXISTS "core_followerscount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "follower" varchar(100) NOT NULL, "user" varchar(100) NOT NULL);
INSERT INTO core_followerscount VALUES(8,'john','tom');
INSERT INTO core_followerscount VALUES(14,'tom','henry');
INSERT INTO core_followerscount VALUES(18,'tom','john');
CREATE TABLE IF NOT EXISTS "core_post" ("id" char(32) NOT NULL PRIMARY KEY, "user" varchar(100) NOT NULL, "caption" text NOT NULL, "created_at" datetime NOT NULL, "no_of_likes" integer NOT NULL, "image" varchar(100) NOT NULL);
INSERT INTO core_post VALUES('8f10877b9100452ab781be960e3225b7','john','nature...','2021-08-29 11:15:30',0,'post_images/img6.jpg');
INSERT INTO core_post VALUES('99fdd53afffc4d3d8601d444a2d7b237','john','The world is beautiful','2021-08-29 19:11:45',0,'post_images/img1.jpg');
INSERT INTO core_post VALUES('2b51c89418784e60bad685d72377de27','tom','Another great image','2021-08-29 22:53:04.154011',0,'post_images/img3.jpg');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',24);
INSERT INTO sqlite_sequence VALUES('django_admin_log',7);
INSERT INTO sqlite_sequence VALUES('django_content_type',10);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "core_profile_user_id_bf8ada58" ON "core_profile" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
COMMIT;
